{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SimpleTabs{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SimpleTabs</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save</a></li>
            <li><a href="#">Load</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Import</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Export <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/export/SVG">SVG</a></li>
            <li><a href="/export/PDF">PDF</a></li>
            <li><a href="/export/PNG">PNG</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/export/source">Source</a></li>
          </ul>
        </li>
      </ul>
        <!-- TODO - add Vertical Separator -->

        <form class="navbar-nav" method="post" action="/">
            {{ wtf.form_field(form.submit_button) }}
        </form>

      <form class="navbar-form navbar-left">
        {{ wtf.form_field(form.title) }}
      </form>
        <div class="navbar-nav">
            {{ wtf.form_field(form.bars) }}
        </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Login</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<form method="POST" action="{{ url_for('index') }}">
    <div class="grid-container">
        <div class="editor">
            {{ wtf.form_field(form.text) }}
            <div class="picture">
                <img src="{{ user_image }}" alt="Output picture">
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
