{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}GuitarTabs{% endblock %}

{% block head %}
<link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet" type="text/css" />
{{ super() }}
{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('index') }}">
    <div class="grid-container">
        <div class="editor">
            {{ wtf.form_field(form.text) }}
            <div class="picture">
                <img src="{{ user_image }}" alt="Output picture">
            </div>
        </div>
        <div class="options">
            {{ wtf.form_field(form.submit_button) }}
            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.bars) }}
            <input class="btn btn-default" type="submit" name="export_pdf" value="Export PDF">
            <input class="btn btn-default" type="submit" name="export_svg" value="Export SVG">
            <input class="btn btn-default" type="submit" name="export_png" value="Export PNG">
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
