#wrapper {
    width: 100%;
    overflow: auto;
}

#editor {
    width: 48.5%;
    display: inline-block;
    height: 100%;
}
#output {
    width: 51%;
    vertical-align: top;
    display: inline-block;
    max-height: 93vh;
    overflow: scroll;
}

#submit_form {
    height: 100%
}

nav.navbar {
    height: 5vh;
    margin-bottom: 0;
}
