.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  gap: 6px 6px;
  margin-right: 1%;
  margin-left: 1%;
}

.input { grid-area: 1 / 1 / 2 / 2; }

.output { grid-area: 1 / 2 / 2 / 3; }

.submit {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 7%;
  grid-area: 2 / 1 / 3 / 2;
}

.submit_button { grid-area: 1 / 1 / 2 / 2; }

.title { grid-area: 1 / 2 / 2 / 3; }

.bars { grid-area: 1 / 3 / 2 / 4; }

.export {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 5%;
  grid-area: 2 / 2 / 3 / 3;
}

.export_svg { grid-area: 1 / 1 / 2 / 2; }

.export_pdf { grid-area: 1 / 2 / 2 / 3; }

.export_png { grid-area: 1 / 3 / 2 / 4; }

textarea {
   resize: vertical;
   min-height: 90%;
   max-width: 100%;
}
